# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Albany,US,42.6001,-73.9662,54.57,45,100,1.90,overcast clouds
1,1,Puerto Ayora,EC,-0.7393,-90.3518,76.96,92,63,10.00,broken clouds
2,2,Chingola,ZM,-12.5290,27.8838,73.38,33,36,4.92,scattered clouds
3,3,Jamestown,US,42.0970,-79.2353,57.06,39,0,6.91,clear sky
4,4,Lasa,IT,46.6166,10.7002,56.28,66,19,2.26,few clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)] 
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Puerto Ayora,EC,-0.7393,-90.3518,76.96,92,63,10.00,broken clouds
6,6,Alyangula,AU,-13.8483,136.4192,82.65,71,15,6.51,few clouds
12,12,Butaritari,KI,3.0707,172.7902,81.39,72,14,21.12,few clouds
17,17,Kahului,US,20.8947,-156.4700,84.22,66,20,11.50,few clouds
18,18,Kutum,SD,14.2000,24.6667,75.36,20,22,12.91,few clouds
20,20,Tondon,GN,10.3667,-13.3500,76.84,88,100,1.90,overcast clouds
21,21,Vaini,TO,-21.2000,-175.2000,75.36,88,75,13.80,broken clouds
27,27,Rumonge,BI,-3.9736,29.4386,76.98,65,46,1.66,scattered clouds
28,28,Hithadhoo,MV,-0.6000,73.0833,81.82,79,100,19.51,light rain
31,31,Atuona,PF,-9.8000,-139.0333,76.12,79,16,18.99,few clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [5]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Puerto Ayora,EC,-0.7393,-90.3518,76.96,92,63,10.00,broken clouds
6,6,Alyangula,AU,-13.8483,136.4192,82.65,71,15,6.51,few clouds
12,12,Butaritari,KI,3.0707,172.7902,81.39,72,14,21.12,few clouds
17,17,Kahului,US,20.8947,-156.4700,84.22,66,20,11.50,few clouds
18,18,Kutum,SD,14.2000,24.6667,75.36,20,22,12.91,few clouds
20,20,Tondon,GN,10.3667,-13.3500,76.84,88,100,1.90,overcast clouds
21,21,Vaini,TO,-21.2000,-175.2000,75.36,88,75,13.80,broken clouds
27,27,Rumonge,BI,-3.9736,29.4386,76.98,65,46,1.66,scattered clouds
28,28,Hithadhoo,MV,-0.6000,73.0833,81.82,79,100,19.51,light rain
31,31,Atuona,PF,-9.8000,-139.0333,76.12,79,16,18.99,few clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [6]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head(10)

            City Country  Max Temp Current Description      Lat       Lng
1   Puerto Ayora      EC     76.96       broken clouds  -0.7393  -90.3518
6      Alyangula      AU     82.65          few clouds -13.8483  136.4192
12    Butaritari      KI     81.39          few clouds   3.0707  172.7902
17       Kahului      US     84.22          few clouds  20.8947 -156.4700
18         Kutum      SD     75.36          few clouds  14.2000   24.6667
20        Tondon      GN     76.84     overcast clouds  10.3667  -13.3500
21         Vaini      TO     75.36       broken clouds -21.2000 -175.2000
27       Rumonge      BI     76.98    scattered clouds  -3.9736   29.4386
28     Hithadhoo      MV     81.82          light rain  -0.6000   73.0833
31        Atuona      PF     76.12          few clouds  -9.8000 -139.0333

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [7]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Puerto Ayora,EC,76.96,broken clouds,-0.7393,-90.3518,
6,Alyangula,AU,82.65,few clouds,-13.8483,136.4192,
12,Butaritari,KI,81.39,few clouds,3.0707,172.7902,
17,Kahului,US,84.22,few clouds,20.8947,-156.4700,
18,Kutum,SD,75.36,few clouds,14.2000,24.6667,
20,Tondon,GN,76.84,overcast clouds,10.3667,-13.3500,
21,Vaini,TO,75.36,broken clouds,-21.2000,-175.2000,
27,Rumonge,BI,76.98,scattered clouds,-3.9736,29.4386,
28,Hithadhoo,MV,81.82,light rain,-0.6000,73.0833,
31,Atuona,PF,76.12,few clouds,-9.8000,-139.0333,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [8]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [9]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Puerto Ayora,EC,76.96,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
6,Alyangula,AU,82.65,few clouds,-13.8483,136.4192,Groote Eylandt Lodge
12,Butaritari,KI,81.39,few clouds,3.0707,172.7902,Isles Sunset Lodge
17,Kahului,US,84.22,few clouds,20.8947,-156.4700,Maui Seaside Hotel
18,Kutum,SD,75.36,few clouds,14.2000,24.6667,Dibbo areaمنطقة دبو
20,Tondon,GN,76.84,overcast clouds,10.3667,-13.3500,
21,Vaini,TO,75.36,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
27,Rumonge,BI,76.98,scattered clouds,-3.9736,29.4386,Kwetu Guest House
28,Hithadhoo,MV,81.82,light rain,-0.6000,73.0833,Scoop Guest House
31,Atuona,PF,76.12,few clouds,-9.8000,-139.0333,Villa Enata

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [11]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Puerto Ayora,EC,76.96,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
6,Alyangula,AU,82.65,few clouds,-13.8483,136.4192,Groote Eylandt Lodge
12,Butaritari,KI,81.39,few clouds,3.0707,172.7902,Isles Sunset Lodge
17,Kahului,US,84.22,few clouds,20.8947,-156.4700,Maui Seaside Hotel
18,Kutum,SD,75.36,few clouds,14.2000,24.6667,Dibbo areaمنطقة دبو
20,Tondon,GN,76.84,overcast clouds,10.3667,-13.3500,
21,Vaini,TO,75.36,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
27,Rumonge,BI,76.98,scattered clouds,-3.9736,29.4386,Kwetu Guest House
28,Hithadhoo,MV,81.82,light rain,-0.6000,73.0833,Scoop Guest House
31,Atuona,PF,76.12,few clouds,-9.8000,-139.0333,Villa Enata

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [12]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [13]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [14]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [15]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Finch Bay Galapagos Hotel</dd>\n<dt>City</dt><dd>Puerto Ayora</dd>\n<dt>Country</dt><dd>EC</dd>\n<dt>Current Weather</dt><dd>broken clouds and 76.96 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Groote Eylandt Lodge</dd>\n<dt>City</dt><dd>Alyangula</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>few clouds and 82.65 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Isles Sunset Lodge</dd>\n<dt>City</dt><dd>Butaritari</dd>\n<dt>Country</dt><dd>KI</dd>\n<dt>Current Weather</dt><dd>few clouds and 81.39 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Maui Seaside Hotel</dd>\n<dt>City</dt><dd>Kahului</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>few clouds and 84.22 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Dibbo areaمنطقة دبو</dd>\n<dt>City</dt><dd>Kutum</dd>\n<dt>Country</dt><dd>SD</dd>\n<dt>Current Weather</dt><dd>few clouds and 75.36 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd></dd>\n<dt>City</dt><dd>Tondon</dd>\n<dt>Country</dt><dd>GN</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 76.84 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Keleti Beach Resort</dd>\n<dt>City</dt><dd>Vaini</dd>\n<dt>Country</dt><dd>TO</dd>\n<dt>Current Weather</dt><dd>broken clouds and 75.36 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Kwetu Guest House</dd>\n<dt>City</dt><dd>Rumonge</dd>\n<dt>Country</dt><dd>BI</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 76.98 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Scoop Guest House</dd>\n<dt>City</dt><dd>Hithadhoo</dd>\n<dt>Country</dt><dd>MV</dd>\n<dt>Current Weather</dt><dd>light rain and 81.82 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Villa Enata</dd>\n<dt>City</dt><dd>Atuona</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>few clouds and 76.12 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [16]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
1   -0.7393  -90.3518
6  -13.8483  136.4192
12   3.0707  172.7902
17  20.8947 -156.4700
18  14.2000   24.6667
20  10.3667  -13.3500
21 -21.2000 -175.2000
27  -3.9736   29.4386
28  -0.6000   73.0833
31  -9.8000 -139.0333

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [17]:
# Create a figure to add the Google map as a layer
fig = gmaps.figure()

# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))